
#located{
    position: relative;
    left: 200px ;

}

#contact{
    position: relative;
    left: 250px ;
    

}

#email{
    position: relative;
    left: 200px ;
}

#open{
    position: relative;
    left: 250px ;

}